.container {
  align-items: center;
  background-color: white;
}

.signupTitle {
  font-size: 24px;
  font-weight: bold; 
  color: #051C60;
  margin: auto;
  margin-top: 4%;
  margin-bottom: 2%;  
}


.policyText{
  margin: 8%;
}

.policySubText{
  color: #FDB075;
}